@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
    :root {
        height: 100%;
    }
    .leaflet-bottom,
    .leaflet-control,
    .leaflet-pane,
    .leaflet-top {
      z-index: 0 !important;
    }
    
    .rdrMonth {
      width: 100% !important;
    }
    
    .rdrCalendarWrapper {
      font-size: 16px !important;
      width: 100% !important;
    }
    
.gradient-underline {
  position: relative;
  color: #333; /* Ensure text color is set for contrast */
  display: inline-block; /* Needed for correct positioning of pseudo-element */
}

.gradient-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px; /* Adjust position slightly below the text */
  height: 2px; /* Thickness of the underline */
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  display: block;
}

    
    .rainbow-gradient {
      background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      fill: currentColor;
    }
    .parallax {
      will-change: transform;
    }
    
    @media (max-width: 768px) {
      .parallax {
        transform: none !important;
      }
    }
    